/*
Color Ora
Pink 300 -> #B52F28
Pink 400 -> #FFCA28
Pink 500 -> #B52F28
Pink 600 -> #FFB300
Pink 700 -> #FFA000
Old css -> #3598db
Old css2 -> 222426
Old header -> https://i.imgur.com/IAsHRfC.jpg
New header -> https://i.imgur.com/KL41UqT.png
*/
.btn-primary{
  background-color: #B52F28;
  border-color: #FFB300;
}

.btn-primary:hover{
  background-color: #FFA300 !important;
  border-color: #FFA000 !important;
}

.btn-primary:active{
  background-color: #FF6F00 !important;
  border-color: #FFA000;
}

.btn-primary:focus{
  background-color: #FF6F00 !important;
  border-color: #FFA000 !important;
}

.btn-primary.focus{
  background-color: #FF6F00 !important;
  border-color: #FFA000 !important;
}

.btn-primary.active{
  background-color: #FF6F00 !important;
  border-color: #FFA000 !important;
}

a {
  color: #418E50;
}
a:hover {
  color: #FF6F00;
}

a:focus{
  color: #FF6F00;
}

#home_recentpost > .list-group-item > .list-group-item-heading {
  color:#418E50;
}



 ::-moz-selection {
     color: #FFF;
     background: #A00;
 }

 ::selection {
     color: #FFF;
     background: #A00;
 }

#header{
  background-size: auto;
  background-repeat: repeat;
}
input.gsc-search-button, input.gsc-search-button:hover, input.gsc-search-button:focus {
    border-color: #B52F28 !important;
    background-color: #B52F28 !important;
    background-image: none;
    filter: none;
}

.web-footer{
  background-color: #B52F28;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
  background-color: #B52F28;
}

.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus {
    color: #B52F28;
}

.btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary{
  background-color: #FFA000 !important;
}
